@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

.section-css-cards {
  width: 100%;
  height: calc(100vh - 6rem);
  background-image: url('./img/bg-cards.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: auto;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header' 'cards';
  align-items: center;
}

.cards-container {
  grid-area: cards;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-css-cards-2 {
  height: 100vh;
  width: 100%;
  overflow-x: auto;
  background-color: #111;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header' 'cards';
  align-items: center;
}

.cards2-container {
  grid-area: cards;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;

  height: 40rem;
  max-width: 100%;
  overflow-x: hidden;
}

.section-video-bg {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  .content {
    z-index: 10;
  }
}
