.nav-main {
  background-color: #000;
  overflow: hidden;
  height: 6rem;
  display: flex;
  align-items: center;

  &__toggle-btn {
    padding: 1rem;
  }

  &__items {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item {
    text-decoration: none;
    color: #f2f2f2;
    padding: 1.4rem 1.6rem;
    font-size: 1.6rem;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &__side {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;

    padding-top: 6rem;
    transition: all 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & a {
      text-decoration: none;
      font-size: 2rem;
      padding: 2rem;
      color: #fff;

      &.btn--close {
        align-self: end;
        font-size: 5rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
