/// inline animation
@mixin inline-animation($properties...) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation: #{$name #properties};
}

/// example
.pulse {
  @include inline-animation(2s) {
    from {
      background-color: yellow;
    }
    to {
      background-color: red;
    }
  }
}

/// simple keyframe @mixin
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
